html, body {
    margin: 0;
    padding: 0;
    background-color: #202020;
}

#root .index {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    height: 100vh;
}

.sideBar {
    bottom: 0;
    width: 20%;
    background-color: #2e2e2e;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: start; /* จัดตำแหน่งปุ่มไปที่ด้านล่าง */
  }
.sideBar .noteListBox {
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    text-align: start;
    width: 60%;
}
.listItem {
    margin-bottom: 1rem;
    background-color: #202020;
    text-align: start;
    padding: 10px 20px;
    margin-left: -2rem;
    display: flex;
    flex-direction: row;
}
.listItem li {
    list-style: none;
}
.deleteItem {
    margin-left: 5rem;
    margin-right: 0;
}

/* พื้นที่ในการสร้างโน๊ตใหม่ */
.workSpace {
    width: 80%;
    background-color: #202020;
}
.workSpace .inputArea {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 800px;
}
.inputArea .title, .inputArea .content {
    background: #202020;
    color: #ffffff;
    border: none;
    max-width: 100%;
}
.inputArea .title {
    font-size: 80px;
    resize: none;
    margin-top: 3rem;
}
.inputArea .content {
    font-size: 20px;
    resize: none;
}
.inputArea input, .inputArea textarea:focus {
    outline: none;
}
.saveButton {
    color: #000000;
    margin: auto;
    padding: 5px 10px;
    border-radius: 50px;
    background-color: #ffffff;
    cursor: pointer;
}

.tpBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    margin: auto 20px;
}
.tpItem {
    box-sizing: border-box;
    width: 25%;
    margin-bottom: 20px;
    padding: 0px 10px;
    text-align: center;
}
.tpContent {
  color: #ffffff;
  background-color: #515151;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  width: 50%;
  border-radius: 50px;
  margin: auto;
  cursor: pointer;
}