html, body {
    margin: 0;
    padding: 0;
    background-color: #202020;
}

#root .index {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    height: 100vh;
}

.sideBar {
    bottom: 0;
    width: 20%;
    background-color: #2e2e2e;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* จัดตำแหน่งปุ่มไปที่ด้านล่าง */
  }
.sideBar .userInfoBox, .sideBar .noteListBox, .sideBar .addButtonBox {
    margin-left: auto;
    margin-right: auto;
}
.sideBar .userInfoBox {
    height: 20%;
}
.sideBar .noteListBox {
    height: 50%;
    overflow-y: auto;
    text-align: left;
    width: 60%;
}
.noteList li {
    list-style: none;
    margin-bottom: 1rem;
}
.sideBar .addButtonBox {
    height: 30%;
}
.addButton {
    padding: 15px 30px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5rem auto;
}

.workSpace {
    width: 80%;
    background-color: #202020;
}
.workSpace form {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 800px;
}
form .title, form .content {
    background: #202020;
    color: #ffffff;
    border: none;
    max-width: 100%;
}
form .title {
    font-size: 80px;
    resize: none;
    margin-top: 3rem;
}
form .content {
    font-size: 20px;
    resize: none;
}
form input, form textarea:focus {
    outline: none;
}
.saveButton {
    color: #000000;
    margin: auto;
    padding: 5px 10px;
    border-radius: 50px;
    background-color: #ffffff;
    cursor: pointer;
}

.tpBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    margin: auto 20px;
}
.tpItem {
    box-sizing: border-box;
    width: 25%;
    margin-bottom: 20px;
    padding: 0px 10px;
    text-align: center;
}
.tpContent {
  color: #ffffff;
  background-color: #515151;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  width: 50%;
  border-radius: 50px;
  margin: auto;
  cursor: pointer;
}